*, *::before, *::after {
    box-sizing: border-box;
 }

 body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: helvetica;
 }

 section {
    width: 50vmin;
 }

 header {
    height: 40px;
    background-color: #9DC284;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
 }

 input {
    width: 39vmin;
    height: 40px;
    font-size: 18px;
    border: solid;
    color: #9DC284;
    padding-bottom: 5px;
 }

 button {
    width: 10.5vmin;
    height: 40px;
    border: solid;
    background-color: white;
    color: #9DC284;
    margin: 0;
    padding: 0;

 }

 ul button {
    background-color: #D16D6A;
    color: white;
    width: 20px;
    height: 17px;
    border: none;
    margin-right: 20px;
 }

 ul {
    color: #F2A74B;
    list-style: none;
 }

 li {
    margin: 10px 0;
 }

 #addSkill {
     font-size: 12px;
 }

 .txt-btn {
     margin: 0 auto;
     padding: 0;
 }
